@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');
/* =============================================  переменные  */
* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* =============================================  миксины  */
.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.font-black {
  font-weight: 900;
}
.flex-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
}
.cf:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.btn {
  background-color: #f16d7f;
  color: #ffffff;
  outline: none;
  border: none;
}
.btn:hover {
  background-color: #ffffff;
  border: 2px solid #f16d7f;
  color: #f16d7f;
  cursor: pointer;
}
/* =============================================  блок header  */
.header {
  height: 100px;
  border: 1px solid #e8e8e8;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-left a {
  text-decoration: none;
}
.header-right {
  display: flex;
  align-items: center;
}
/* =============================================  логотип  */
.logo {
  display: flex;
  align-items: center;
  margin: 25px 25px 25px 0;
}
.logo p {
  font-weight: 300;
  color: #222222;
  text-transform: uppercase;
  font-size: 27px;
  line-height: 51px;
  margin-left: 10px;
}
.logo p span {
  font-weight: 900;
  color: #f16d7f;
}
.browse {
  display: flex;
  align-items: center;
}
.browse button {
  width: 90px;
  height: 41px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e8e8e8;
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #ededed 100%);
  cursor: pointer;
}
.browse button i {
  margin-left: 5px;
}
.browse input {
  width: 280px;
  height: 41px;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  border-left: none;
  border-right: none;
  background-color: #ffffff;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.35px;
  padding-left: 10px;
}
.browse a.search {
  display: inline-block;
  color: #222222;
  border: 1px solid #e8e8e8;
  border-radius: 0 3px 3px 0;
  padding: 9px;
}
/* =============================================  выпадающее меню  */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  padding: 15px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #e8e8e8;
  z-index: 1;
}
/* =============================================  стили для списков выпадающего меню  */
.list-dropdown .title-dropdown {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.35px;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 20px;
}
.list-dropdown .title-dropdown:first-child {
  padding-top: 0;
}
.list-dropdown .super-sale {
  padding-top: 15px;
}
.list-dropdown .super-sale p {
  display: block;
  width: 100px;
  position: absolute;
  bottom: 25px;
  right: 0;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.55px;
}
.list-dropdown ul li {
  display: block;
  list-style: none;
  padding: 0 0 0 15px;
}
.list-dropdown ul li:hover {
  border-bottom: none;
}
.list-dropdown ul li a {
  text-decoration: none;
  text-transform: none;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
  padding: 0;
}
/* =============================================  выпадающее меню Browse  */
.browse-list {
  top: 43px;
  left: -10px;
  width: 265px;
}
.browse-list::before,
.browse-list::after {
  content: '';
  position: absolute;
  left: 68px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #e8e8e8;
}
.browse-list::after {
  border-bottom: 10px solid #ffffff;
  top: -19px;
}
/* =============================================  выпадающее меню Корзины  */
.cart {
  top: 40px;
  left: -60px;
  width: 262px;
}
.cart::before,
.cart::after {
  content: '';
  position: absolute;
  left: 68px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #e8e8e8;
}
.cart::after {
  border-bottom: 10px solid #ffffff;
  top: -19px;
}
.cart .goods {
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 0;
}
.cart .goods:first-child {
  padding-top: 0;
}
.cart .goods img {
  float: left;
}
.cart .goods .info {
  width: 100px;
  float: left;
  margin: 10px;
}
.cart .goods .info .name {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.cart .goods .info .rating {
  color: #e4af48;
}
.cart .goods .info .price {
  font-size: 12px;
  color: #f16d7f;
  font-weight: 400;
  text-transform: uppercase;
}
.cart .goods i {
  float: right;
  margin-top: 40px;
  font-size: 16px;
  color: #c2c2c2;
  cursor: pointer;
}
.cart .total {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 20px 0;
}
.cart .total span {
  float: right;
}
.cart button {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #222222;
  background-color: #ffffff;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.cart button:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f;
}
.my_acc {
  width: 130px;
  height: 38px;
  font-weight: 400;
  font-size: 15px;
  padding-left: 10px;
  margin-left: 20px;
}
.my_acc i {
  margin-left: 10px;
}
/* =============================================  Главное меню  */
nav {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul li {
  display: inline-block;
  list-style: none;
  padding: 16px 0 11px 0;
}
nav ul li:hover {
  border-bottom: 3px solid #f16d7f;
}
nav ul li a {
  padding: 16px 30px 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
}
nav ul li .active_link {
  border-bottom: 3px solid #f16d7f;
}
nav ul li .mega-menu {
  width: 800px;
  top: 37px;
  left: 10px;
}
nav ul li .mega-menu::before,
nav ul li .mega-menu::after {
  content: '';
  position: absolute;
  left: 40px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #e8e8e8;
}
nav ul li .mega-menu::after {
  border-bottom: 10px solid #ffffff;
  top: -19px;
}
nav ul li .mega-menu .mega-menu-row {
  display: inline-block;
  width: 255px;
  float: left;
  padding-right: 15px;
}
/* =============================================  Slider  */
.slider {
  display: block;
  height: 665px;
  width: 100%;
  background: #e8e8e8;
}
.slider .accent {
  display: block;
  width: 14px;
  height: 94px;
  background: #f16d7f;
  margin-top: -400px;
  margin-left: -20px;
}
.slider h1 {
  margin-top: -110px;
  color: #222222;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-left: 14px solid #f16d7f;
}
.slider h1 .title-big {
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 1.5px;
  display: block;
}
.slider h1 .title-red {
  color: #f16d7f;
}
.category {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 900px;
}
.category-box {
  position: relative;
  margin: 20px 20px 0 0;
}
.category-box:hover {
  cursor: pointer;
}
.category-box:hover img {
  opacity: 0.5;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}
.category-box-title {
  font-size: 18px;
  padding: 17px 20px;
  background-color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  top: 25px;
}
.category-box-title-red {
  font-size: 30px;
  display: block;
  color: #f16d7f;
}
/* =============================================  Product (v.1.0)  */
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product a {
  text-decoration: none;
}
.product-title {
  display: block;
  text-align: center;
  width: 100%;
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
}
.product-desc {
  display: block;
  text-align: center;
  width: 100%;
  line-height: 54px;
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}
.product-box {
  margin-top: 36px;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
}
.product-box:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.product-box:hover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 283px;
  background: #3a3838;
  opacity: 0.8;
  z-index: 2;
}
.product-box img {
  width: 264px;
  height: 283px;
}
.product-box .basket {
  width: 27px;
  height: 25px;
  position: relative;
  top: 5px;
  left: -5px;
}
.product-box button {
  display: none;
  width: 126px;
  height: 42px;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 42px;
  cursor: pointer;
}
.product-box:hover button {
  display: block;
  position: absolute;
  top: 100px;
  left: 70px;
  z-index: 3;
}
.product-box-name {
  margin-left: 17px;
  line-height: 40px;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.product-box-price {
  line-height: 40px;
  margin-left: 17px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
/* =============================================  Кнопка Browse all products (v.1.0)  */
.browse-products {
  margin: 50px auto 100px;
  text-align: center;
  width: 215px;
  height: 51px;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0.4px;
  outline: none;
  border: 2px solid #fff;
}
.browse-products i {
  margin: 5px;
}
/* =============================================  Feature (v.1.0)  */
.feature {
  display: flex;
}
.feature-title {
  display: block;
  width: 767px;
  height: 529px;
  background: #222222 url(../img/feature/feature.jpg) 0 0 no-repeat;
}
.feature-title h2 {
  position: relative;
  top: 146px;
  left: 39px;
  width: 60%;
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.feature-title h2 .offer {
  color: #f16d7f;
}
.feature-title h2 .forwomen {
  display: block;
  font-size: 32px;
  letter-spacing: 0.9px;
}
.feature-sidebox {
  display: block;
  float: left;
  width: 370px;
  padding: 10px 30px 0 111px;
  background-color: #222222;
  color: #ffffff;
}
.feature-sidebox ul {
  list-style: none;
}
.feature-sidebox ul li {
  margin-bottom: 10px;
}
.feature-sidebox ul li img {
  position: relative;
  top: 35px;
  left: -78px;
}
.feature-sidebox ul li h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}
.feature-sidebox ul li p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.35px;
}
/* =============================================  Subscribe (v.1.0)  */
.subscribe {
  background: #f2f2f2 url(../img/subscribe/subscribe-bg.jpg) center center no-repeat;
  height: 441px;
  margin: 90px auto;
  position: relative;
  z-index: 1;
}
.subscribe:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  opacity: 0.5;
  z-index: -1;
}
.subscribe-block {
  display: flex;
}
.subscribe-block-left {
  width: 50%;
  margin-top: 100px;
}
.subscribe-block-left img {
  display: inline-block;
  float: left;
  margin: 0 30px 100px 0;
}
.subscribe-block-left p {
  color: #222222;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  letter-spacing: 0.4px;
  margin-right: 70px;
}
.subscribe-block-left .signature {
  font-style: normal;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 26px;
}
.subscribe-block-left .signature .place {
  display: block;
  color: #222222;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px;
}
.subscribe-block-right {
  width: 50%;
  height: 441px;
  text-align: center;
  border-left: 4px solid #ffffff;
}
.subscribe-block-right .box {
  width: 100%;
  height: 100%;
}
.subscribe-block-right .box h4 {
  margin: 120px 0 33px;
  color: #222222;
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 54px;
  text-transform: uppercase;
}
.subscribe-block-right .box h4 .small {
  display: block;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 24px;
}
.subscribe-block-right .box input {
  width: 282px;
  height: 49px;
  border-radius: 23px 0 0 23px;
  background-color: #e8e8e8;
  outline: none;
  border: none;
  padding-left: 30px;
}
.subscribe-block-right .box button {
  width: 107px;
  height: 49px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  cursor: pointer;
}
.subscribe-block-right .box button:hover {
  background-color: #ed3e56;
}
/* =============================================  Футер (v.1.0)  */
.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.flex-box-up {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  margin: 100px auto;
}
.footer-logo a {
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  line-height: 51px;
  text-transform: uppercase;
  letter-spacing: 0.68px;
  text-decoration: none;
}
.footer-logo span {
  color: #f16d7f;
  font-weight: 400;
  letter-spacing: 0.68px;
}
.footer-logo img {
  position: relative;
  top: 12px;
  left: -10px;
}
.footer-text {
  width: 427px;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
  margin-top: 30px;
}
.footer-menu-block h4 {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}
.footer-menu-block ul {
  list-style-type: none;
}
.footer-menu-block ul a {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 42px;
  text-decoration: none;
}
.footer-copyright {
  height: 81px;
  background-color: #e6e6e6;
}
.footer-copyright-text {
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.4px;
}
.footer-copyright-social-item {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #ffffff;
  color: #222222;
  line-height: 35px;
  text-align: center;
}
.footer-copyright-social-item:hover {
  background-color: #f16d7f;
  color: #ffffff;
}
